# Ignoruj wirtualne środowisko Pythona
venv/
env/
.env

# Ignoruj pliki pamięci podręcznej i pliki pośrednie
__pycache__/
*.pyc

# Ignoruj pliki logów (jeśli zostaną dodane)
*.log

# Opcjonalnie: Ignorowanie obrazków (półfabrykatów). Usun # aby włączyć.
# *.png
# !icon.png 
